<div class="container">
  <h1 class="mb-4" style="text-align: center;">Stations</h1>

  <%= link_to "New Station", new_admins_station_path, class: "btn btn-primary" %>

  <div class="table-responsive" style="text-align: center;">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Status</th>
          <th>Location</th>
          <th>Warehouse</th>
          <th >Assigned Power Banks</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @stations.order(id: :asc).each do |station| %>
          <tr>
            <td><%= station.id %></td>
            <td><%= station.status %></td>
            <td><%= station.location&.name %></td>
            <td><%= station.warehouse&.name %></td>
            <td>
              <% if station.power_banks.any? %>
                <ul style="list-style-type: none; padding: 0; margin: 0;">
                  <% station.power_banks.each do |power_bank| %>
                    <li style="display: block; margin-bottom: 5px;">
                      <%= "Power Bank #{power_bank.id}" %>
                    </li>
                  <% end %>
                </ul>
              <% else %>
                <span style="display: block;">None</span>
              <% end %>
            </td>
            <td>
              <%= link_to "Show", admins_station_path(station), class: "btn btn-info btn-sm me-2" %>
              <%= link_to "Edit", edit_admins_station_path(station), class: "btn btn-warning btn-sm me-2" %>
              <%= link_to "Delete", admins_station_path(station), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= link_to "Back to Admin Dashboard", admins_page_path, class: "btn btn-secondary" %>
</div>
