<h1><%= @station.id %></h1>

<% if @station.location %>
  <p><strong>Location:</strong> <%= @station.location.name %></p>
<% else %>
  <p><strong>Location:</strong> Location not found</p>
<% end %>

<% if @station.warehouse %>
  <p><strong>Warehouse:</strong> <%= @station.warehouse.name %></p>
<% else %>
  <p><strong>Warehouse:</strong> Warehouse not found</p>
<% end %>

<% if @station.power_banks.any? %>
  <h2>Assigned Power Banks:</h2>
  <ul>
    <% @station.power_banks.each do |power_bank| %>
      <li>
        <%= "#{power_bank.id} - Charge: #{power_bank.charge}, Status: #{power_bank.status}" %>
        <% if power_bank.user %>
          (Assigned to: <%= power_bank.user.email %>)
        <% else %>
          (Unassigned)
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No power banks in station.</p>
<% end %>

<%= link_to 'Edit', edit_admins_station_path(@station), class: 'btn btn-warning' %>
<%= link_to 'Back', admins_stations_path, class: 'btn btn-secondary' %>
