<h1><%= @location.name %></h1>

<p><strong>Latitude:</strong> <%= @location.lat %></p>
<p><strong>Longitude:</strong> <%= @location.lng %></p>

<%= link_to 'Edit', edit_admins_location_path(@location), class: 'btn btn-warning' %>
<%= link_to 'Back', admins_locations_path, class: 'btn btn-secondary' %>
