<%= form_with(model: users_location) do |form| %>
  <% if users_location.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(users_location.errors.count, "error") %> prohibited this users_location from being saved:</h2>

      <ul>
        <% users_location.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :lat, style: "display: block" %>
    <%= form.text_field :lat %>
  </div>

  <div>
    <%= form.label :lng, style: "display: block" %>
    <%= form.text_field :lng %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
