<h1>Users</h1>
<%= link_to 'New User', new_admins_user_path %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td>
          <%= link_to 'Show', admins_user_path(user) %>
          <%= link_to 'Delete', admins_user_path(user), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %></td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Back to Admin Dashboard", admins_page_path, class: "btn btn-secondary" %>