<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-2">
      <div class="card p-4 mt-5">
        <%= form_with(model: [:admins, @user], local: true) do |f| %>
          <% if @user.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
              <ul>
                <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <h2 class="text-center mb-4">Create User</h2>

          <div class="mb-3">
            <%= f.label :email, class: "form-label" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>

          <div class="mb-3">
            <%= f.label :password, class: "form-label" %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          </div>

          <div class="mb-3">
            <%= f.label :password_confirmation, class: "form-label" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          </div>

          <div class="mb-3">
            <%= f.label :name, class: "form-label" %><br />
            <%= f.text_field :name, class: "form-control" %>
          </div>

          <div class="mb-3">
            <%= f.label :mobile_number, class: "form-label" %><br />
            <%= f.text_field :mobile_number, class: "form-control" %>
          </div>

          <div class="text-center">
            <%= f.submit "Create User", class: "btn btn-primary btn-sm btn-block btn-authenticate", style: "width: 130px;" %>
          </div>

          <div class="text-center mt-3">
            <%= link_to "Back to Users", admins_users_path, class: "btn btn-secondary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
