<h1><%= @user.name %></h1>

<p><strong>Email:</strong> <%= @user.email %></p>
<p><strong>Mobile Number:</strong> <%= @user.mobile_number %></p>

<%= link_to 'Edit', edit_admins_user_path(@user), class: 'btn btn-warning' %>
<%= link_to 'Back', admins_users_path, class: 'btn btn-secondary' %>