<h1>Pages#admins</h1>
<h3>Admin Dashboard</h3>
<li><%= link_to "Manage Users", admins_users_path %></li>
<li><%= link_to "Manage Warehouses", admins_warehouses_path %></li>
<li><%= link_to "Manage Locations", admins_locations_path %></li>
<li><%= link_to "Manage Stations", admins_stations_path %></li>
<li><%= link_to "Manage Power Banks", admins_power_banks_path %></li>
<li><%= link_to "Sign out", destroy_admin_session_path, method: :delete, data: { turbo_method: :delete } %></li>