<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-2">
      <div class="card p-4 mt-5">
        <%= form_with(model: warehouse, url: warehouse.persisted? ? admins_warehouse_path(warehouse) : admins_warehouses_path, method: warehouse.persisted? ? :patch : :post) do |form| %>
          <% if warehouse.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(warehouse.errors.count, "error") %> prohibited this warehouse from being saved:</h2>
              <ul>
                <% warehouse.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <h2 class="text-center mb-4">Add Warehouse</h2>

          <div class="form-group mb-3">
            <%= form.label :name, class: "form-label" %>
            <%= form.text_field :name, class: 'form-control' %>
          </div>

          <div class="form-group mb-3">
            <%= form.label :address, class: "form-label" %>
            <%= form.text_field :address, class: 'form-control' %>
          </div>

          <div class="actions text-center">
            <%= form.submit 'Save', class: 'btn btn-primary btn-sm btn-block btn-authenticate' %>
          </div>
          <div class="text-center mt-3">
            <%= link_to 'Back', admins_warehouses_path, class: 'btn btn-secondary', style: 'width: 100px; padding:8px;' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
