<div class="container">
  <h1 class="mb-4" style="text-align: center;">Warehouses</h1>

  <%= link_to "New Warehouse", new_admins_warehouse_path, class: "btn btn-primary" %>

  <div class="table-responsive" style="text-align: center;">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Address</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @warehouses.order(id: :asc).each do |warehouse| %>
          <tr>
            <td><%= warehouse.id %></td>
            <td><%= warehouse.name %></td>
            <td><%= warehouse.address %></td>
            <td>
              <%= link_to "Show", admins_warehouse_path(warehouse), class: "btn btn-info btn-sm me-2" %>
              <%= link_to "Edit", edit_admins_warehouse_path(warehouse), class: "btn btn-warning btn-sm me-2" %>
              <%= link_to "Delete", admins_warehouse_path(warehouse), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger btn-sm", title: "Delete Warehouse" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= link_to "Back to Admin Dashboard", admins_page_path, class: "btn btn-secondary" %>
</div>
