<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-2">
      <div class="card p-4 mt-5">
        <%= form_with(model: power_bank, url: power_bank.persisted? ? admins_power_bank_path(power_bank) : admins_power_banks_path, method: power_bank.persisted? ? :patch : :post) do |form| %>
          <% if @power_bank.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@power_bank.errors.count, "error") %> prohibited this power bank from being saved:</h2>
              <ul>
                <% @power_bank.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <h2 class="text-center mb-4">Add Power Bank</h2>

          <div class="form-group mb-3">
            <%= form.label :charge, class: "form-label" %>
            <%= form.text_field :charge, class: 'form-control' %>
          </div>

          <div class="form-group mb-3">
            <%= form.label :status, class: "form-label" %>
            <%= form.select :status, options_for_select([['Reserved', 'reserved'], ['Available', 'available']], @power_bank.status), {}, class: 'form-control' %>
          </div>

          <div class="form-group mb-3">
            <%= form.label :user_id, class: "form-label" %>
            <%= form.collection_select :user_id, @users, :id, :email, { include_blank: true }, class: "form-control" %>
          </div>

          <div class="form-group mb-3">
            <%= form.label :station_id, class: "form-label" %>
            <%= form.collection_select :station_id, @stations, :id, :id, { include_blank: true }, class: "form-control" %>
          </div>

          <div class="form-group mb-3">
            <%= form.label :warehouse_id, class: "form-label" %>
            <%= form.collection_select :warehouse_id, @warehouses, :id, :name, { include_blank: true }, class: "form-control" %>
          </div>

          <div class="actions text-center">
            <%= form.submit 'Save', class: 'btn btn-primary btn-sm btn-block btn-authenticate' %>
          </div>
          <div class="text-center mt-3">
            <%= link_to 'Back', admins_power_banks_path, class: 'btn btn-secondary', style: 'width: 100px; padding:8px;' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
