<div id="<%= dom_id power_bank %>">
  <p>
    <strong>Charge:</strong>
    <%= power_bank.charge %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= power_bank.status %>
  </p>

  <p>
    <strong>User:</strong>
    <%= power_bank.user_id %>
  </p>

  <p>
    <strong>Station:</strong>
    <%= power_bank.station_id %>
  </p>

  <p>
    <strong>Warehouse:</strong>
    <%= power_bank.warehouse_id %>
  </p>

</div>
