<div class="container">
  <h1 class="mb-4" style="text-align: center;">Power Banks</h1>

  <%= link_to "New Power Bank", new_admins_power_bank_path, class: "btn btn-primary" %>

  <div class="table-responsive" style="text-align: center;">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Charge</th>
          <th>Status</th>
          <th>User</th>
          <th>Station</th>
          <th>Warehouse</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @power_banks.order(id: :asc).each do |power_bank| %>
          <tr>
            <td><%= power_bank.id %></td>
            <td><%= power_bank.charge %></td>
            <td><%= power_bank.status %></td>
            <td><%= power_bank.user&.email %></td>
            <td><%= power_bank.station&.id %></td>
            <td><%= power_bank.warehouse&.name %></td>
            <td>
              <%= link_to "Show", admins_power_bank_path(power_bank), class: "btn btn-info btn-sm me-2" %>
              <%= link_to "Edit", edit_admins_power_bank_path(power_bank), class: "btn btn-warning btn-sm me-2" %>
              <%= link_to "Delete", admins_power_bank_path(power_bank), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= link_to "Back to Admin Dashboard", admins_page_path, class: "btn btn-secondary" %>
</div>
