<div class="container">
  <h1><strong>Power Bank </strong><%= @power_bank.id %></h1>

  <p><strong>Charge:</strong> <%= @power_bank.charge %></p>
  <p><strong>Status:</strong> <%= @power_bank.status %></p>
  <p><strong>User:</strong> <%= @power_bank.user&.email %></p>
  <p><strong>Station:</strong> <%= @power_bank.station&.id %></p>
  <p><strong>Warehouse:</strong> <%= @power_bank.warehouse&.name %></p>

  <%= link_to 'Edit', edit_admins_power_bank_path(@power_bank), class: 'btn btn-warning' %>
  <%= link_to 'Back', admins_power_banks_path, class: 'btn btn-secondary' %>
</div>
