<!DOCTYPE html>
<html>

<head>
    <title>Admin Dashboard</title>
    <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

            <%= stylesheet_link_tag "application" , "data-turbo-track"=> "reload" %>
                <%= javascript_importmap_tags %>
</head>

<body>
    <header class="d-flex justify-content-between align-items-center py-3">
        <div>
          <!-- Left-aligned logo -->
        </div>
        <div class="text-center">
          <!-- Centered home button -->
          <%= link_to admins_page_path do %>
            <%= image_tag("home_icon.png", alt: "Home Button", class: "img-fluid") %>
          <% end %>
        </div>
        <div>
          <!-- Right-aligned content, if any -->
        </div>
      </header>
      
    <!-- Main Content Area for Admin Views -->
    <main>
        <%= yield %>
    </main>

    <footer class="fixed-bottom py-4">
        <div class="container d-flex justify-content-between align-items-center">
          <div>
            <%= link_to 'Edit Profile', edit_admin_registration_path, class: "btn btn-primary btn-authenticate" %>
            <%= link_to "Sign out", destroy_admin_session_path, method: :delete, data: { turbo_method: :delete }, class: "btn btn-primary btn-sign-out" %>
          </div>
          <div class="text-right">
            <%= image_tag("logo.png", alt: "Logo", class: "img-fluid", style: "max-width: 150px; height: auto;") %>
          </div>
        </div>
      </footer>      
</body>

</html>